[Desktop Entry]
Encoding=UTF-8
Name=Acre
Comment=Acre P2P Cryptocurrency
Exec=acre-qt %u
Terminal=false
Type=Application
Icon=acre128
MimeType=x-scheme-handler/acre;
Categories=Office;Finance;
Name[en_US]=acre-qt.desktop
